@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  min-height: 100vh;
  background: hsla(233, 100%, 15%, 1);

  background: radial-gradient(
    circle,
    hsla(233, 100%, 15%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(233, 100%, 15%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(233, 100%, 15%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00094B", endColorstr="#000000", GradientType=1 );
}
::-webkit-scrollbar {
  display: none;
}
